<div class="container">
  <h1 class="h1">Collections</h1>
  <div class="collection-container">
    <% @collections.each do |collection| %>
      <div class="collection-block">
        <%= link_to collection_path(collection), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-button" do %>
          <span>&times;</span>
        <% end %>

        <% if collection.photo.attached? %>
          <%= cl_image_tag(collection.photo.key, width: 100, height: 100, class: "collection-image") %>
        <% else %>
          <%= image_tag('Literary-Fiction-Books-dark-min-1536x864.png', class: "collection-image", style:"width: 100%; height: 196.76px; object-fit: cover;") %>
        <% end %>

        <div class="collection-name-wrapper">
          <%= link_to "#{collection.name}", collection_path(collection), class: "text-decoration-none collection-name" %>
        </div>
      </div>
    <% end %>
    <!-- Empty container block for adding a collection -->
    <div class="collection-block empty-block">
      <%= link_to new_collection_path, class: "text-decoration-none" do %>
        <div class="empty-container">
          <span id="plus-sign">+</span>
        </div>
      <% end %>
    </div>
  </div>
</div>
