<h1 class="h1">Your Books</h1>
<div class="mt-5">
  <% @collection.books.each do |book| %>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4" style="width: 25%; height: 100%;">
          <% if book.file.previewable? %>
            <%= image_tag book.file.preview(resize_to_fit: [500, 500]), class: "img-fluid", style: "" %>
          <% else %>
            <%= image_tag('default-book-image.png', class: "img-fluid book-img", style: "object-fit: cover;") %>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong><%= book.title %></strong></h5>
            <p class="card-text"><strong><%= book.author %></strong></p>
            <p class="card-text"><%= truncate(book.description, length: 100) %></p>

            <%= link_to download_collection_book_path(@collection, book), class: "btn" do %>
              <i class="fa-solid fa-file-arrow-down"></i>
            <% end %>
            <%= link_to read_collection_book_path(@collection, book), target: "_blank", class: "btn" do %>
              <i class="fa-solid fa-book-open"></i>
            <% end %>
            <%= link_to translate_path, class: "text-decoration-none", target: "_blank", class: "btn" do %>
              <i class="fa-solid fa-language"></i>
            <% end %>
            <%= link_to collection_book_path(@collection, book), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
            <%= link_to do %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
