<div class="container">
<%= simple_form_for [@collection, @book], html: { multipart: true } do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :author %>
  <%= f.input :file, as: :file %>
  <%= f.submit "Create Book", class: "btn btn-dark" %>
<% end %>
</div>
